/* imported font */

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

/* body related style */

body {
  font-family: "Oswald", sans-serif;
}

/* common style  */

.primaryColor {
  background-color: rgb(252, 238, 241);
}

.primaryBtn {
  padding: 10px 15px;
  background-color: rgb(229, 84, 115);
  border: none;
  outline: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 12px;
  cursor: pointer;
}

.container {
  max-width: 1090px;
  margin: auto;
}

.sectionHeader {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 40px;
}

.sectionHeader h2 {
  font-size: 40px;
  color: #272727;
  font-weight: 800;
  margin-bottom: 10px;
}

.sectionHeader p {
  width: 400px;
  color: rgba(39, 39, 39, 0.6);
  margin: auto;
}
/* topBanner related style */

.topBanner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 100px 0px 100px;
}

.topBannerDesc {
  width: 500px;
}

.topBannerDesc h2 {
  width: 460px;
  font-size: 60px;
  font-weight: 800;
  color: #272727;
  line-height: 70px;
}
.topBannerDesc p {
  width: 400px;
  font-size: 14px;
  color: rgba(39, 39, 39, 0.6);
  padding: 20px 0px;
}

.topBannerImg {
  width: 450px;
}

/* ourFeature section style  */

.featureItems {
  display: flex;
  justify-content: space-between;
}

.featureItems :first-child {
  background-color: rgb(242, 222, 231);
}

.featureItems :nth-child(2) {
  background-color: rgb(217, 239, 241);
}
.featureItems :last-child {
  background-color: rgb(227, 235, 219);
}

.featureImg {
  padding: 110px 78px 0px 76px;
  border-radius: 380px 380px 0px 0px;
  width: 200px;
}

.featureImgLink {
  display: flex;
  justify-content: space-around;
  margin: 20px 0px;
  font-size: 20px;
  font-weight: 600;
}
.featureImgLink a {
  color: black;
}

/* ourService Section Related style  */

.serviceContainer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(244, 244, 244);
  padding: 50px 100px;
  margin: 90px 0px;
}
.services {
  text-align: center;
}
.services img {
  margin-bottom: 10px;
}

/* hotDeal section related style  */

.hotDealContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 80px;
}
.hotDealDesc {
  width: 500px;
  text-align: center;
}
.hotDealDesc h2 {
  font-size: 30px;
  font-weight: 800;
  color: #272727;
}

.hotDealDesc h2 span {
  color: rgb(229, 84, 115);
}

.hotDealDesc p {
  font-size: 14px;
  color: rgba(39, 39, 39, 0.6);
  padding: 20px 0px;
  width: 400px;
  margin: auto;
}
.hotDealImg {
  width: 320px;
}
